{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%"]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "commonjs"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "react-hot-loader/babel"]
}
